.static-image-grid {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  //   display: grid;
  //   grid-template-columns: repeat(3, minmax(150px, 1fr));

  //grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  //gap: 1rem;
  padding: 1rem 0;
  border: 1px solid black;

  & > div {
    flex: 1 1 30%;
    max-height: 420px;
    background-size: cover;
    // background-position: center;
    &.kat {
      background-image: url("../img/kat-small.jpg");
    }
    &.paard {
      background-image: url("../img/paard-small.jpg");
    }
    &.koe {
      background-image: url("../img/koe-small.jpg");
    }
  }
}

.static-image-grid {
  border: 1px solid red;
}
