@import "partials/settings";
@import "bootstrap/bootstrap";
@import "partials/language";

html {
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.bg-image {
  background-image: url("../img/DA-met-kat.png");
  background-size: cover;
  background-position: center right;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  @media screen and (max-width: 300px) {
    background-image: none;
  }
}

.grey-background {
  visibility: hidden;
  position: fixed;
  top: 160px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $grey;
}

.page {
  border: 1px solid orange;
  min-height: 100%;
  display: grid; // breaks slick slider on very small screens
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  // https://dev.to/niorad/keeping-the-footer-at-the-bottom-with-css-grid-15mf
  min-height: 100vh;
}

main {
  background-color: $grey;
  flex-grow: 1;
}

body {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-family: "Calibri-Light";
  color: $softblack;
  background-color: transparent;
}

img.logo {
  max-width: 300px;
  height: auto;
  margin-bottom: 1rem;
}

a.btn-primary {
  border-radius: 2rem;
  font-size: 0.9rem;
  margin-top: 0.5rem;
  font-weight: bold;
}

.address a {
  text-decoration: none;
  color: $softblack;
}

@import "partials/slick";
@import "partials/footer";
@import "partials/mobile";
